@use "variables" as *;

h1 {
    font-size:6rem;
    color: $dark-pink;
    text-align: center;
    -webkit-text-stroke: 1px white;
}

.todo-app {
    padding: 10px;
}

#input-container {
    display: flex;
    justify-content: center;

    input {
        padding: 10px;
        border: 2px solid $dark-pink;
        border-radius: 10px;
        width: 70%;
        font-size: 16px;
    }

    button {
        margin-left: 10px;
        background-color: $dark-pink;
        color: white;
        border: none;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
            background-color: $medium-pink;
            color: $dark-pink
        }
    }
}

#todo-container {
    background-color: white;
    border-radius: 10px;
    border: 1px solid $dark-pink;
    padding: 20px;
    margin-bottom: 20px;

     h3 {
        margin-top: 40px;
        text-align: center;
    }

}

%li-style {
    padding: 10px;
    background-color: $light-pink;
    border: 1px solid $dark-pink;
    margin-block: 15px;
    border-radius: 10px;
}

#todo-list {
    list-style: none;

    label {
        display: flex;
        align-items: center;
    }

    li {
        @extend %li-style;
        display: flex;
        justify-content: space-between;
    }

   input[type="checkbox"] {
      display: none; 
    }

    .custom-checkbox {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: $dark-pink;
      display: inline-block;
      position: relative;
      cursor: pointer;
      margin-right: 10px;

      &:hover, &:focus{
        background-color: $medium-pink;
      }

      &:after {
        content: '\2713';;
        position: absolute;
        color: white;
        font-size: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }


#done-container {
    background-color: $dark-pink;
    border-radius: 10px;
    border: 1px solid white;
    padding: 20px;
    color: $light-pink;

    li {
        @extend %li-style;
        color: $dark-pink;
        text-decoration: line-through;
    }
}

#primary-btn {
    background-color: transparent;
    border: 2px solid $dark-pink;
    color: $dark-pink;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;

    &:hover {
        background-color: $dark-pink;
        color: white;
    }
}